*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  background: black;
}

.v-container {
  max-width: 1366px !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}
