<template lang="pug">
div
  v-app-bar
    v-container.py-0
      NuxtLink(to="/").title.font-weight-bold Todo
        span Nuxt
</template>

<style scoped lang="scss">
.title {
  font-size: 24px;

  & > span {
    color: $custom-blue;
  }
}
</style>
