<template lang="pug">
div
  header
    div.wrapper
      v-container.d-flex.align-center.flex-wrap
        div.pa-4
          div.pa-4
            div Добавить Todo
        div.pa-4
          div.pa-4
            div Мои Todo
    div.overlay
      div.overlay-left
      div.overlay-middle
      div.overlay-right
      div.overlay-left-block
      div.overlay-right-block
</template>

<style scoped lang="scss">
header {
  position: relative;
  min-height: 100vh;
  background: black;
  padding-top: 88px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.wrapper {
  & > div {
    gap: 24px;

    & > * {
      min-height: calc(100vh - 116px);
      min-width: calc(50% - 12px);
      background-color: #dedede;
      border-radius: 10px !important;

      & > div {
        position: relative;
        z-index: 4;
        background-color: white;
        border-radius: 10px;
        border: 2px solid grey;
      }
    }
  }
}

.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &-left {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 50vw;
    height: 100%;
    left: calc(-50vw + 1.8%);
    top: 0;
  }

  &-middle {
    position: relative;
    z-index: 4;
    background-color: black;
    width: 24px;
    height: 100%;
    margin: auto;
  }

  &-right {
    position: absolute;
    z-index: 4;
    background-color: black;
    width: 50vw;
    height: 100%;
    right: calc(-50vw + 1.8%);
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 4;
    background: black;
    width: 100%;
    height: 40px;
    top: 64px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    background: black;
    width: 100%;
    height: 56px;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 1380px) {
  .overlay {
    &-left {
      left: -45.6vw;
    }

    &-right {
      right: -45.6vw;
    }
  }
}

@media screen and (min-width: 1560px) {
  .overlay {
    &-left {
      left: -40.6vw;
    }

    &-right {
      right: -40.6vw;
    }
  }
}

@media screen and (min-width: 1700px) {
  .overlay {
    &-left {
      left: -38.2vw;
    }

    &-right {
      right: -38.2vw;
    }
  }
}
</style>
